[core]
	editor = \"C:\\Users\\kwpeters\\AppData\\Local\\Programs\\Microsoft VS Code\\Code.exe\" -n --wait
	autocrlf = true
	excludesfile = %USERPROFILE%\\dev\\kwp\\dotfiles\\.gitignore_global
	longpaths = true
[user]
	email = kwpeters@ra.rockwell.com
	name = Kevin Peters

	signingkey = 7C1A5391A11ADDA0
[diff]
    tool = vscode

[difftool]
  prompt = false

[color]
    ui = auto

[difftool "sourcetree"]
	cmd = '' \"$LOCAL\" \"$REMOTE\"
[difftool "kdiff3"]
    path = C:/Program Files/KDiff3/kdiff3.exe
    trustExitCode = false
[difftool "vscode"]
    cmd = code --new-window --wait --diff $LOCAL $REMOTE

[merge]
    tool = kdiff3

[mergetool "sourcetree"]
	cmd = 'C:/Program Files/KDiff3/kdiff3.exe' \"$BASE\" \"$LOCAL\" \"$REMOTE\" -o \"$MERGED\"
	trustExitCode = true
[mergetool "kdiff3"]
    path = C:/Program Files/KDiff3/kdiff3.exe
    trustExitCode = false

[commit]
	gpgsign = true

[credential "https://ragitlabegl4.ra.rockwell.com"]
	provider = gitlab
